@charset "utf-8";

/*  UCAB store
    UCAB Guayana
    Tema: UCAB store
    Tema URL: http://www.github.com/naderst/ucab-store
    Autor:  Nader Abu Fakhr - naderst@gmail.com - @naderst
            José Cols - josecolsg@gmail.com - @josecols
    Version: 1.0
*/

/**
 * Estilos generales
 */

* {
    margin: 0;
    padding: 0;
}
body {
    background: url("../img/body-bg.png") repeat;
    background-color: #f1f1f1;
    font-family: 'Open Sans', sans-serif;
}
hr {
    border: 1px solid #ddd;
    clear: both;
    margin: 0;
    width: 100%;
}
.input-container {
    background: #FFF;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    color: #666;
    height: 40px;
    float: left;
    padding: 4px 5px 6px;
    width: 300px;
}
.input-container.large {
    width: 400px;   
}
.input-container i {
    margin: 0 8px;
}
.input-container input[type=text] {
    border: none;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    margin: 0 auto;
    width: 240px;
}
.input-container input[type=text]:focus {
    outline: none;
}
.input-container.large input[type=text] {
    width: 340px;    
}
.right {
    float: right;
}
.left {
    float: left;
}
.fix {
    clear: both;
}
.margin {
    margin-bottom: 50px;
}
.margin-small {
    margin-bottom: 10px;
}
.bold {
    font-weight: 700;
}
.button {
    display: block;
    width: 70px;
    height: 25px;
    padding: 5px;
    background: linear-gradient(#14A99C, #15847b);
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
}
.button:hover {
    background: linear-gradient(#1ec6b7, #1ba297);
}
.button:active {
    background: linear-gradient(#15847b, #14A99C);
}
.preview {
    color:#444;
}
/**
 * Header
 */

#header {
    background-color: #fff;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.3);
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    text-align: center;
}
#header .content {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
}
#logo {
    margin: 6px auto;
}
/**
 * Contenido
 */

#content {
    background-color: #fff;
    border-bottom: 3px solid #fed200;
    box-sizing: border-box;
    margin: 90px auto 15px;
    padding: 20px;
    position: relative;
    width: 100%;
}
#content:before {
    bottom: -6px;
    border-bottom: 3px solid #13b4ea;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 2px;
    z-index: -1;
}
#content:after {
    bottom: -9px;
    border-bottom: 3px solid #006225;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 2px;
    z-index: -1;
}
#content .zapato {
    margin: 30px 0 80px;
    width: 100%;
}
#content .zapato h2,
#content .zapato-full h2 {
    font-weight: 300;
    margin: 10px 0;
}
#content .zapato a {
    color: #0ca3d6;
    text-decoration: none;
}
#content .zapato a:hover {
    color: #18bcf4;
    text-decoration: none;
}
#content .zapato a:active {
    color: #0ca3d6;
}
#content .zapato p {
    font-weight: 300;
    line-height: 1.6em;
}
#content .zapato .imagen,
#content .zapato-full .imagen {
    background: no-repeat center center;
    border-radius: 150px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, .5);
    display: block;
    display: inline-block;
    height: 150px;
    margin: 5px;
    vertical-align: middle;
    width: 150px
}
#content .zapato-full {
    margin: 30px 0 20px;
    width: 100%;
    text-align: center;
}
#content .zapato-full .imagen {
    height: 200px;
    width: 200px;
    border-radius: 200px;
    margin: 5px auto;
}
#content .zapato-full p {
    margin: 20px 0;
}
#content .zapato-full h3 {
    font-weight: 400;
}
#content .comentarios {
    margin: 20px auto 0;
}
#content .comentarios ul {
    list-style: none;
    padding: 10px 20px;
}
#content .comentarios li {
    padding: 4px 2px;
}
#content .comentarios .usuario {
    font-weight: 700;   
}
#content .comentarios .comentario {
    margin: 0 4px;    
}
#content .nuevo-comentario {
    margin-top: 20px;
}
#content .talla {
    margin: 0 6px;
}
@media only screen and (min-width: 800px) {
    /**
     * Header
     */
    #header .content {
        width: 70%;
        padding: 0;
    }
    /**
     * Contenido
     */
    #content {
        border-radius: 8px;
        box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, .3);
        margin: 120px auto 30px;
        padding: 20px;
        width: 70%;
        z-index: 1;
    }
    #content:before,
    #content:after {
        border-radius: 8px;
    }
    #content .zapato {
        margin: 20px 3%;
        width: 44%;
        float: left;
    }
}